@keyframes tooltip {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes card {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
